@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
$primary-color: #3d5af1;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
/*Pra ito sa whitespace minsan may space padin sa gilid kaya need mo nito*/
body, html{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: #ffffff;
    
}
.logo a{
    font-family: 'Poppins';
    font-size: 1.4rem;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    

}
.logo{
    padding: .5rem 2.5rem;
    margin: .5rem;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links ul li{
    list-style: none;


}
.navbar-links ul a{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Poppins';
    text-decoration: none;
    color: #ffffff;
    padding: 0rem 2rem;
    display: block;
}
.navbar-links :hover{
    color: rgb(145, 141, 141); ;
}
.toggle-button{
     position: absolute;
     top: 1.5rem;
     right: 1rem;
     display: none;
     flex-direction: column;
     justify-content: space-between;
     width: 30px;
     height: 21px;

     .bar{
         height: 3px;
         width: 100%;
         background-color: #ffffff;
         border-radius: 10px;
     
     }
}

/*Ang media queries ay di required gamitin lagi pag kailangan lang talaga kumbaga forbidden technique 
lagi lang tandaan gawin fluid ang mga elements asap*/
@media (max-width : 800px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .navbar-links li a:hover {
        font-size:1.5rem;
        transition: .3s ease-in;
       
    }
    
}

/* Dito na ung pina ka main content */
.container{
    display: flex;
	width: 100%;
	margin: auto;
	height: 92.6vh;
    align-items: center;
    background: #25335C;
    margin: auto;
    background: linear-gradient(169deg, rgba(37,51,92,1) 78%, rgba(255,255,255,1) 78%);
   
}
.container .inner .img1 {
    object-fit: cover;
    width: 70px;
    position: absolute;
    top:40px;
    right: 190px;


}
.container .inner .img2 {
    object-fit: cover;
    width: 70px;
    position: absolute;
    top:240px;
    right: 90px;


}
.container .inner .img3 {
    object-fit: cover;
    width: 40px;
    position: absolute;
    top:100px;
    right: 390px;


}
.container .inner .img4 {
    object-fit: cover;
    width: 70px;
    position: absolute;
    left:10px;
    bottom: 100px;
    
    

}
.container .content{
  
  padding: 2rem;
    
}

   
   

.container .content .text{
 
   color: #ffffff;
   font-family: 'Poppins';


}
.container .content .text h2{
    background: linear-gradient( to right , #f1ecec , #b4b3b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    font-size:2rem;
    
}
.container .content .text p{
    margin: auto;
    font-size: 1.2rem;
    color:#ffffff;
    font-weight: 500;
}
.container .content .text i{
    margin-right: 1rem;
}
.cover{
    flex: 1;
	display: flex;
	justify-content: center;
	height: 60vh;
}
.container .cover img{
    position: absolute;
    top: 290px;
    right: -200px;
    flex: 1;
    width: 850px;
    z-index:999 ;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin: 2rem;

}
.cta{
    padding: 50px 0px 0px 0px;

}
.Signin {
    border-radius: 4px;
    background-color:#F24A47;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2rem;
    height: 50px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 50PX;
    outline: none;
  }
  
  .Signin span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .Signin span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .Signin:hover span {
    padding-right: 25px;
  }
  
  .Signin:hover span:after {
    opacity: 1;
    right: 0;
  }

  .wrapper{
    width: 330px;
    padding: 20px;
  
  }
  .wrapper .input-data{
    height: 40px;
    width: 100%;
    position: relative;
  }
  .wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
  }
  .wrapper  .username{
    margin-bottom: 2rem;
  }
  .input-data input:focus ~ label,
  .input-data input:valid ~ label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
  }
  .wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before{
    transform: scaleX(1);
  }
  .wrapper .submit button{
      width: 100%;
      height: 40px;
      border-radius: 50em;
      outline: 0;
      border: none;
      color: white;
      background: $primary-color;
      margin-top: 2rem;
      cursor: pointer;
      &:hover {
        background: linear-gradient(260deg, rgba(48,96,237,1) 27%, rgba(88,144,231,1) 94%);
      }
  }
  .forgot{
      color: gray;
      margin-top: 10px;
      cursor: pointer;
  }


.cta .Signup{
    border: 2px solid #ffffff;
    background:transparent;
    width: 150px;
    height: 0px;
   cursor: pointer;
   color: white;
   font-size: 1REM;
   border-radius: 6px;
   outline: none;
   &:hover{

    border: 2px solid #666464;
    color: #666464;

   }
}


@media screen and (max-width: 1000px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content{
        margin: auto;
        text-align: center;
        position: relative;

    }
    
    .content .text h2{
        font-size: 30px;
        margin:  0 auto;
        padding: 2rem;

    }
    .content{
        
        align-items: center;
    }
    .content .text p{
        text-align: left;
        font-size: 16px;
        margin: auto;
    }
    
    .container .cover img{
        display: none;
    }
    .inner img{
        display: none;
    }
}
@media screen and (max-width: 460px){
    .content .text h2{
        font-size: 20px;
        margin: auto;

    }
    .content{
        
        align-items: center;
    }
    .content .text p{
        text-align: left;
        font-size: 11px;
        margin:0 auto;
    }


    .cta .Signin{
     width: 100px;
     height: 50px;

    }
    .cta .Signup{
        width: 100px;
        height: 50px;
    }
    .container{
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: $primary-color#fff;
            clip-path: polygon(100% 0 , 0 100% , 100% 100%);
        }
}

}
@media screen and (max-width: 375px){
    .cta .Signin{
        width: 150px;
        height: 50px;
        font-size: 1rem;
   
       }
       .content .text p{
        text-align: left;
        font-size: 12px;
        margin:0 auto;
    }
       
       .cta .Signup{
           font-size: .8rem;
           width: 70px;
           height: 40px;
       }
       
}
@media screen and(max-width: 800px){
    .container .cover img{
        
        
        flex: 1;
        width: 700px;
        z-index: 9999;
        object-fit: cover;
        max-width: 100%;
        margin-right: 2rem;
    
    }

}

/*  Modal pop dito na sya macconstruct in design this is tricks para mapadali*/
.Modal-bg{
    position: fixed;
    top: 0;
    left: 0;
   width: 100%;
   height: 100vh;
   background: rgba(0, 0, 0 ,0.5);
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s opacity 1s;
}
.bg-active{
    visibility: visible;
    opacity: 1;
    transition: transform 300ms ease-in-out , opacity 300ms ease-in-out;
}
.modal{
    max-width: 100%;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
    height: 600px;
    width: 400px;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins';
    box-shadow : 0px 0px 5px #0000;
   
   .eye i{
        position: absolute;
        bottom: 13px;
        right: 10px;
        color: rgb(73, 71, 71);
       cursor: pointer;
    }
    
   
    
    .content button{
        position: absolute;
        top: -100px;
        left: 310px;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 1.25rem;
        font-weight: bold;
    }
      .input{
          border: none;
        border-bottom: 2px solid #777575;
        margin: 5px 0px;
        width: 100%;
        padding: 0 5px;
        height: 30px;
        font-size: 1rem;
        font-family: 'poppins';
        background: none;
        outline: none;
        &:focus{
            border-bottom: 2px solid #2691d9;
            transition: 0.3s linear;

        }
        
        
    }
    .username{
        border-bottom: 1px solid grey;
    }
    .password{
        border-bottom: 1px solid grey;
    }
    
    label{
        font-size: 1rem;
        color: #615f5f;
        font-family: 'poppins';
        font-weight: 500;
       

    }
    .showpass{
        padding-bottom: 2rem;
    }
    
    .signup-link{
        padding: .5rem;
        align-self: center;
        margin-right: 1rem;
        
}
    #text {
    display:none;color:red;
    position: absolute;
    top: 430px;
    right: 460px;
    }    
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    
    
    h2{
        font-size:1.6rem;
        position: relative;
        top: -130px;
        font-family: 'POPPINS';
        font-weight: normal;
        color: $primary-color;
        text-transform: uppercase;
    }
}
/*radio buttons*/
.radio{
    align-self: center;
    position: absolute;
    top: -50px;
    display: inline-flex;
    overflow: hidden;

    margin-bottom: 1rem;
    
    .radio__input{
        display: none;

    }
    .radio__input:checked + .radio__label{
        border-bottom:4px solid #0a47a3;
    }
    .radio__label{
        padding: 8px 14px;
        font-size: 1REM;
        font-family: sans-serif;
        color: #5e5959;
        cursor: pointer;
        transition:  border-bottom 0.3s;
    }
    .radio__label:not(:last-of-type){
       
        
    }
}

    
    
} 
